@font-face
{
	font-family: "brow";
	src: url(MeieScript-Regular.ttf);
}


*{
  margin: 0;
  padding: 0;
}

header{
  font-family: arial;
  margin: 0 auto;
}
ul{
  list-style: none;
}

.menu
{
  position: absolute;
  top: 32%;
  left: 0%;
}

.li1
{
  background-color: #924BFF;
}

.li2
{
  background-color: #FCB5B5;
}

.li3
{
  background-color: #FFFF7E;
}

.li4
{
  background-color: #9FECFF;
}

#menu li>a{
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  width: 304.4px;
}
#menu li>a:hover{
  color: #000;
  background-color: #CFE9E7;
}
#menu>li{
  float: left;
  text-align:center
}
#menu>li>ul{
  display: none;
}
#menu>li:hover>ul {
  display:block;
}

.f
{
  width: 95%;
  height: 95%;
  background-color: black;
  position: absolute;
  left: 2.5%;
  top: 2.5%;
}

.foto
{
  background-image: url(foto.jpg);
  display: block;
  position: absolute;
  width: 14%;
  height: 28%;
  left: 4%;
  top: 2%;
}

.logo
{
  background-image: url(logo.png);
  display: block;
  position: absolute;
  width: 158px;
  height: 149px;
  right: 4%;
  top: 4%;
}

.nom
{
  background-image: url(nom.jpg);
  width: 401px;
  height: 95px;
  position: absolute;
  top: 5%;
  left: 20%;
}

.col
{
  background-image: url(col.jpg);
  width: 279px;
  height: 77px;
  position: absolute;
  top: 9%;
  left: 56%;
}

.med
{
  background-image: url(med.jpg);
  width: 309px;
  height: 77px;
  position: absolute;
  top: 20%;
  left: 40%;
}

.mp
{
  color: white;
	font-family: "brow";
  font-size: 50px;
  text-align: center;
  width: 614px;
  height: 345px;
  position: absolute;
  top: 41%;
  left: 26%;
}
